<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>
        <b>ID:</b> <%= user.id %><br />
        <b>Username:</b> <%= user.username %><br />
        <b>Name:</b> <%= user.displayName %><br /> 
        <b>Email:</b> <%= user.email %><br />
    </p>
    <a href="/logout">Log out</a>
</body>

</html>